<div class="header-home" >
  <nav class="nav-home navbar-transparent">
    <!-- <div class="container container-fluid"> -->
      <div class="navbar-header">
        <button class="navbar-toggle" data-target="#menu-example" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="logo" routerLink="/home">
          <img src="../../assets/img/LOGOOO-02.png"  alt="ChoiceGenie" />
          <!-- <img src="../../assets/img/Choice_logo.png" alt="PlugEXP" /> -->
        </a>
      </div>
      <div class="collapse navbar-collapse" id="menu-example">
        <ul class="navbar-nav navbar-right">
            <!-- <li class="">
                <a routerLink="/home">
                  <i class="material-icons">home</i> Home
                </a>
              </li> -->

           
          <!-- <li>
            <a routerLink="/residential">
              <i class="material-icons">dashboard </i> Residential
            </a>
          </li> -->
          <li>
            <a routerLink="/new-product">
              REPS

              <!-- Add New Product -->
            </a>
          </li>
        
          <!-- <li class="">
            <a routerLink="/commercial">
              <i class="material-icons">person_add </i> Commercial
            </a>
          </li> -->
          <!-- <li class="">
            <a routerLink="/about">
              <i class="material-icons">fingerprint </i> About Us
            </a>
          </li> -->
          
          <li class="">
            <a routerLink="/login">
              <i class="material-icons">fingerprint</i> login
            </a>
          </li>
          <li class="">
            <a routerLink="/register">
              <i class="material-icons">lock_open</i> Sign Up
            </a>
            
          </li>
        </ul>
      </div>
    <!-- </div> -->
  </nav>
</div>