<div class="new-product-holder">
  <div class="container">
    <h3 class="text-center">ADD NEW PRODUCT</h3>
    <hr />
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Market" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Product Type" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Product Sub Type" value="">
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Product Status" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Product Name" value="" required>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Product Visibility" value="">
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Plan Group" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-8 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <textarea matInput placeholder="Product Info"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput [matDatepicker]="startDate" placeholder="Start Date" (click)="startDate.open()" (focus)="startDate.open()">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
            <!--<mat-error *ngIf="firstFormGroup.controls.reqDate.value == ''"><strong>Cannot be empty</strong></mat-error>-->
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput [matDatepicker]="endDate" placeholder="Start Date" (click)="endDate.open()" (focus)="endDate.open()">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
            <!--<mat-error *ngIf="firstFormGroup.controls.reqDate.value == ''"><strong>Cannot be empty</strong></mat-error>-->
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Comment 1" value="">
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Comment 2" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="REF 1" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="REF 2" value="">
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="REF 3" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="REF 4" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Challenge Question" value="">
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Challenge Answer" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <div class="fileinput fileinput-new text-center" data-provides="fileinput">
              <!--<div class="fileinput-new thumbnail">-->
                <!--<img src="../../../assets/img/image_placeholder.jpg" alt="...">-->
              <!--</div>-->
              <div class="fileinput-preview fileinput-exists thumbnail"></div>
            <div>
              <span class="btn btn-rose btn-round btn-file btn-sm">
                  <span class="fileinput-new">Select Doc 1</span>
                  <span class="fileinput-exists">Change</span>
                  <input type="file" name="..." />
              </span>
              <a href="" class="btn btn-danger btn-round fileinput-exists btn-sm" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <div class="fileinput fileinput-new text-center" data-provides="fileinput">
            <!--<div class="fileinput-new thumbnail">-->
            <!--<img src="../../../assets/img/image_placeholder.jpg" alt="...">-->
            <!--</div>-->
            <div class="fileinput-preview fileinput-exists thumbnail"></div>
            <div>
              <span class="btn btn-rose btn-round btn-file btn-sm">
                  <span class="fileinput-new">Select Doc 2</span>
                  <span class="fileinput-exists">Change</span>
                  <input type="file" name="..." />
              </span>
              <a href="" class="btn btn-danger btn-round fileinput-exists btn-sm" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="EFL url" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="TOS url" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Index Name" value="">
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Edi Bill Presenter" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Tax Indicator" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Edi Bill Calculator" value="">
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Deposit Indicator" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Dly Index Name" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Display Rate" value="">
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Display Rate Per" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Display Uom" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Display Type" value="">
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Display Sub Type" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Display Term" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Termination Fee" value="">
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Display Misc 1" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Display Misc 2" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Display Misc 3" value="">
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Display Info" value="">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Product Mode" value="">
          </mat-form-field>
        </div>
      </div>


    </div>
  </div>
</div>