.nav-home ul, .interest-area ul, .pw-solutions ul, .choose-criteria ul, .in-your-area a .overlay ul, .sidebar-user ul, .list-normal {
  padding: 0;
  margin: 0;
  list-style: none;
 }


app-my-app:after,
router-outlet:after,
app-home:after,
app-footer-cmp:after,
app-header:after,
app-user-sidebar:after,
app-products:after, .home-main:after, .header-home:after, .threecolumns:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

img {
  vertical-align: top; }

.clearfix {
  width: 100%;
  display: block;
  clear: both; }

.bg-white {
  background: #ffffff;
  padding: 30px 9999px;
  margin: 20px -9999px; }

.required {
  color: #e53935; }

ul {
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  list-style: inside; }
  ul li {
    margin: 0 0 10px; }

p {
  font-size: 18px;
  line-height: 24px; }

.wrapper {
  height: auto !important;
  min-height: 100vh !important; }

.mat-select {
  padding: 0 !important;
  background: none;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14); }
  .mat-select .mat-select-trigger {
    padding: 8px; }

*,
.btn {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

h3 {
  margin: 0 0 20px !important; }

app-my-app,
router-outlet,
app-home,
app-footer-cmp,
router-outlet,
app-header,
app-user-sidebar,
app-products {
  display: block; }

.card a {
  display: inline-block;
  vertical-align: top;
  font-weight: 500; }
.card .card-description {
  font-weight: 500; }

.home-main {
  position: relative;
  left: 0;
  right: 0; }

app-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 9; }
  app-header.inner {
    width: calc(100% - 320px);
    margin: 0 30px 0 0;
    float: right; }
    app-header.inner .logo {
      display: none; }

.header-home {
  padding: 10px 0;
  min-height: 58px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  background: #fefefe; }

.logo {
  width: 250px;
  display: block; }
  .logo img {
    width: 100%; }

.nav-home ul {
  margin-right: 60px;
  line-height: 20px;
  font-weight: 700;
  padding: 10px 0 0;
display: inline; }
  .nav-home ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 20px;
   }
  .nav-home ul a {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 0 !important;
    color: #616161; }
    .nav-home ul a i {
      margin: -3px 2px 0 0;
     }
    .nav-home ul a:hover {
      color: #e53935;
      text-decoration: none; }

.form-home {
  position: absolute;
  left: 80px;
  top: 24%;
  right: 80px;
  bottom: auto; }
  .form-home .mat-form-field {
    width: 100% !important; }

.form-zip {
  margin: 0 auto;
  max-width: 400px;
opacity: 0.8; }

.packages-holder {
  padding: 30px 0 25px; }
  .packages-holder .heading {
    margin: 0 !important; }
  .packages-holder .btn-holder {
    text-align: center; }

.heading {
  margin: 0 0 30px; }

.interest-area {
  background: #ffffff;
  padding: 30px 0 40px; }
  .interest-area .container > strong {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin: 0 0 15px;
    display: block; }
  .interest-area ul {
    font-size: 30px;
    line-height: 30px;
    text-align: center; }
    .interest-area ul li {
      display: inline-block;
      vertical-align: middle; }
      .interest-area ul li a {
        -webkit-transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        -ms-transition: all 0.25s ease;
        transition: all 0.25s ease;
        width: 170px;
        height: 110px;
        display: block;
        padding: 20px;
        color: #bf360c;
        border-radius: 4px;
        background: #f3f0ef; }
        .interest-area ul li a:hover {
          background: #bf360c;
          color: #ffffff; }
          .interest-area ul li a:hover span {
            color: #ffffff; }
        .interest-area ul li a span {
          -webkit-transition: all 0.25s ease;
          -moz-transition: all 0.25s ease;
          -o-transition: all 0.25s ease;
          -ms-transition: all 0.25s ease;
          transition: all 0.25s ease;
          font-size: 16px;
          line-height: 20px;
          display: block;
          padding: 6px 0 0;
          font-weight: 700;
          color: #bf360c; }

@keyframes popupDown {
  35% {
    font-size: 65px; }
  100% {
    font-size: 50px; } }
.pw-solutions {
  padding: 30px 0; }
  .pw-solutions ul {
    letter-spacing: -10px;
    margin: 0 -10px; }
    .pw-solutions ul li {
      display: inline-block;
      vertical-align: top;
      letter-spacing: 0;
      width: 25%;
      margin: 0 0 20px;
      padding: 0 10px; }
      .pw-solutions ul li .holder {
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        padding: 8px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
        background: #ffffff;
        border-radius: 6px; }
        .pw-solutions ul li .holder:hover {
          -webkit-box-shadow: 0 5px 25px 0 rgba(64, 64, 64, 0.3);
          -moz-box-shadow: 0 5px 25px 0 rgba(64, 64, 64, 0.3);
          box-shadow: 0 5px 25px 0 rgba(64, 64, 64, 0.3);
          transform: scale(1.05); }
          .pw-solutions ul li .holder:hover i {
            -webkit-animation: popupDown 0.7s;
            -moz-animation: popupDown 0.7s;
            -ms-animation: popupDown 0.7s;
            -o-animation: popupDown 0.7s;
            animation: popupDown 0.7s; }
        .pw-solutions ul li .holder.icons {
          padding: 25px 8px 8px; }
        .pw-solutions ul li .holder.red i {
          color: #c62828;
          border-color: #c62828; }
        .pw-solutions ul li .holder.red .btn {
          background: #c62828; }
        .pw-solutions ul li .holder.purple i {
          color: #4527a0;
          border-color: #4527a0; }
        .pw-solutions ul li .holder.purple .btn {
          background: #4527a0; }
        .pw-solutions ul li .holder.pink i {
          color: #ad1457;
          border-color: #ad1457; }
        .pw-solutions ul li .holder.pink .btn {
          background: #ad1457; }
        .pw-solutions ul li .holder.green i {
          color: #2e7d32;
          border-color: #2e7d32; }
        .pw-solutions ul li .holder.green .btn {
          background: #2e7d32; }
      .pw-solutions ul li h3 {
        text-align: center;
        margin: 0; }
      .pw-solutions ul li .img-holder {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        overflow: hidden;
        text-align: center; }
        .pw-solutions ul li .img-holder .material-icons {
          width: 100px;
          height: 100px;
          font-size: 50px;
          line-height: 100px;
          border: 1px solid crimson;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          text-align: center;
          margin: 0 0 15px; }
      .pw-solutions ul li .txt-holder {
        padding: 10px; }
      .pw-solutions ul li .btn-holder {
        text-align: center; }
      .pw-solutions ul li a {
        display: block; }
        .pw-solutions ul li a img {
          max-width: 100%; }

.carouselTwo {
  margin: 0 -15px;
  padding: 0 15px; }
  .carouselTwo .ngxcarousel-inner {
    padding: 60px 0 0; }
  .carouselTwo .item {
    padding: 0 15px; }
  .carouselTwo .buttons {
    position: absolute;
    top: 50%;
    padding: 5px !important; }
    .carouselTwo .buttons .material-icons {
      font-size: 30px;
      line-height: 30px; }
    .carouselTwo .buttons.leftRs {
      left: -35px; }
    .carouselTwo .buttons.rightRs {
      right: -35px; }

.bannerCarousel {
  position: relative;
  overflow: hidden;
  height: 479px;
background-color: #ffffff;}
  .bannerCarousel .banner {
    height: 100%; }
    .bannerCarousel .banner div {
      height: 100%; }
      .bannerCarousel .banner div .item {
        height: 100% !important; }
  .bannerCarousel .item img {
    width: 100%;
    height: 100%; }
  .bannerCarousel .buttons {
    width: 48px;
    height: 48px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 100%;
    background: #212121;
    border: none;
    position: absolute;
    top: 50%;
    margin: -24px 0 0;
    color: #e0f2f1;
    opacity: 0.6; }
    .bannerCarousel .buttons:hover {
      opacity: 0.95; }
    .bannerCarousel .buttons.rightRs {
      right: 30px; }
    .bannerCarousel .buttons.leftRs {
      left: 30px; }
    .bannerCarousel .buttons .material-icons {
      font-size: 34px;
      line-height: 48px; }

.s-areaCarousel .item {
  vertical-align: middle; }
.s-areaCarousel button {
  width: -moz-calc(100% - 10px);
  width: -webkit-calc(100% - 10px);
  width: calc(100% - 10px);
  border: none;
  padding: 10px;
  margin: 0 5px;
  text-transform: capitalize;
  font-weight: 700;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }
.s-areaCarousel .buttons {
  width: 30px;
  height: 30px;
  background: none;
  padding: 0;
  margin: 0;
  bottom: 5px; }
  .s-areaCarousel .buttons.rightRs {
    position: absolute;
    right: -35px; }
  .s-areaCarousel .buttons.leftRs {
    position: absolute;
    left: -35px; }
  .s-areaCarousel .buttons i {
    font-size: 30px;
    line-height: 30px; }

.choose-criteria {
  padding: 20px 0;
  min-height: 100px;
  background: -webkit-linear-gradient(-45deg, #ef5350, #880e4f);
  background: -moz-linear-gradient(-45deg, #ef5350 0, #880e4f 100%);
  background: -ms-linear-gradient(-45deg, #ef5350 0, #880e4f 100%);
  background: -o-linear-gradient(-45deg, #ef5350 0, #880e4f 100%);
  background: linear-gradient(-45deg, #25B7D3 0, #214 100%);
  /* background: linear-gradient(-45deg, #25B7D3 0, #25B7D3 100%);  */
}
  .choose-criteria ul {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -10px; }
    .choose-criteria ul li {
      display: inline-block;
      vertical-align: top;
      padding: 0 40px 0 75px;
      margin: 0;
      position: relative;
      letter-spacing: 0;
      width: 33.33%; }
      .choose-criteria ul li i {
        font-size: 60px;
        line-height: 64px;
        position: absolute;
        left: 0;
        top: 0;
        right: auto;
        bottom: auto; }
      .choose-criteria ul li a {
        display: block;
        color: #ffffff; }
        .choose-criteria ul li a:hover {
          color: #a7ffeb;
          text-decoration: none; }
      .choose-criteria ul li p {
        margin: 0; }
      .choose-criteria ul li h4 {
        font-size: 28px;
        line-height: 32px;
        margin: 0 0 5px;
        font-weight: 500; }

.col-md-3 .card .card-image {
  min-height: 155px; }

.in-your-area {
  font-weight: 500;
  /* padding: 40px 0; */
 }
  .in-your-area .col {
    margin-bottom: 25px; }
  .in-your-area img {
    width: 100%;
    height: auto;
    max-width: 100%; }
  .in-your-area a {
    position: relative;
    display: block;
    color: #212121; }
    .in-your-area a img {
      width: 100%;
      max-height: 100%; }
    .in-your-area a .cover {
      margin: 0 0 10px;
      height: 240px; }
      .in-your-area a .cover.small {
        height: 175px; }
      .in-your-area a .cover > p {
        margin: 0 0 25px; }
    .in-your-area a .overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 30px;
      background: rgba(0, 0, 0, 0.65);
      transition: 0.4s ease all 0s;
      padding: 15px;
      opacity: 0;
      visibility: hidden;
      color: #fafafa;
      text-align: left;
      overflow: hidden;
      font-weight: 400; }
      .in-your-area a .overlay h4 {
        display: inline-block;
        vertical-align: top;
        border-bottom: 1px solid #fafafa; }
      .in-your-area a .overlay ul {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400; }
        .in-your-area a .overlay ul li {
          position: relative;
          padding: 0 0 0 15px;
          margin: 0 0 5px; }
          .in-your-area a .overlay ul li:before {
            content: '';
            width: 5px;
            height: 5px;
            position: absolute;
            left: 0;
            top: 8px;
            right: auto;
            bottom: auto;
            background: #fafafa; }
    .in-your-area a:hover {
      color: #212121; }
      .in-your-area a:hover .overlay {
        opacity: 1;
        visibility: visible; }

.desc-banner {
  min-height: 400px;
  padding: 70px 0;
  background-image: url("../../assets/img/img-01.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
  color: #fafafa; }
  .desc-banner .leftRs {
    top: 50%;
    left: 0;
    right: auto;
    position: absolute;
    z-index: 10;
    margin: -20px 0 0;
  }
  .desc-banner .rightRs {
    top: 50%;
    right: 0;
    left: auto;
    position: absolute;
    z-index: 10;
    margin: -20px 0 0;
  }
  .desc-banner .card {
    min-height: 260px;
    padding: 30px 20px;
    text-align: center;
  }
  .desc-banner .card > img {
    margin: 0 0 30px;
    height: 200px;
    /* width: 200px; */
  }
  .desc-banner .card > div {
    text-align: center;
  }
  .desc-banner h2 {
    margin: 0 !important;
    font-weight: 500; }
  .desc-banner p {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 30px; }

.testimonial-holder .img-holder {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden; }
  .testimonial-holder .img-holder img {
    width: 100%;
    height: 100%; }
.testimonial-holder .name {
  display: block;
  font-weight: 700; }

.success-for-business {
  font-size: 18px;
  line-height: 25px;
  background-image: url("../../assets/img/home-5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fefefe;
  position: relative;
  padding: 40px 0; }
  .success-for-business:after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    content: ''; }
  .success-for-business > .container {
    position: relative;
    z-index: 1; }
  .success-for-business h4 {
    font-size: 30px;
    line-height: 34px;
    font-weight: 500; }
  .success-for-business .icon-box {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 45px 20px 20px;
    border-radius: 5px;
    text-align: center;
    min-height: 320px; }
    .success-for-business .icon-box:hover {
background: goldenrod;
/* background-color: transparent; */
      /* background: rgba(4, 208, 235, 0.5); */
     }
      .success-for-business .icon-box:hover .material-icons {
        color: #fefefe; }
  .success-for-business .material-icons {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 65px;
    line-height: 65px;
    color: #e53935; }

.sidebar-user {
  padding: 10px 10px 20px;
  color: #212121; }
  .sidebar-user h5 {
    margin: 0;
    font-weight: 500; }
  .sidebar-user ul li {
    display: block;
    margin: 0 0 20px; }
  .sidebar-user mat-slider {
    width: 100%; }
  .sidebar-user .btn {
    width: 100%; }
    .sidebar-user .btn .material-icons {
      margin: 0 0 0 8px;
      font-weight: 700; }

.sidebar .logo {
  width: 100%;
  text-align: center; }
  /* .sidebar .logo img {
    max-width: 120px;
  } */
.sidebar.custom {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  background: #ffffff;
  overflow-y: scroll;
  overflow-x: hidden; }
  .sidebar.custom label {
    color: #212121; }
  .sidebar.custom .logo {
    padding: 10px; }

.mat-slider-horizontal .mat-slider-ticks-container {
  background: #ccc;
  height: 3px; }
.mat-slider-horizontal .mat-slider-thumb {
  background: #333 !important; }

.main-content {
  padding: 40px 0 0;
  overflow: hidden; }
  .main-content.custom {
    margin-top: 0 !important;
    padding: 0; }

.product-price {
  background: linear-gradient(-45deg, #25B7D3 0, #214 100%);
  border: 3px solid #fff;
  border-radius: 3px;
  color: #fff;
  margin: 0 30px;
  padding: 20px;
  position: relative;
  text-align: center;
}
.product-price > * {
}
.products-area {
  font-size: 15px;
  line-height: 19px; }
  .products-area .card-title small {
    color: inherit; }
  .products-area .plan-detail {
    font-size: 18px;
    line-height: 22px;
    text-align: justify; }
  .products-area .card {
    padding: 0 15px 20px;
    margin: 15px 0;}
    .products-area .plan-detail img {
      width: 170px;
      height: auto;
      display: block;
      margin: 40px auto 0;
    }
    .products-area .card .card-content {
      overflow: hidden;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .products-area .card .rate {
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      min-height: 65px; }
      .products-area .card .rate small {
        font-size: 18px;
        line-height: 22px;
        display: block; }
      .products-area .card .rate h5 {
        margin: 0; }
    .products-area .card .term .material-icons {
      margin: 0 0 0 5px; }
  .products-area h4 {
    margin: 0 0 10px;
    font-weight: 500; }
  .products-area h5 {
    font-weight: 500; }
  .products-area p {
    margin: 0 0 15px; }
  .products-area strong {
    font-size: 24px;
    line-height: 28px;
    display: block; }
  .products-area .view-more i {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform: rotate(180deg); }
  .products-area .view-more:focus {
    color: #25B7D3; }
  .products-area .view-more.collapsed i {
    transform: rotate(0); }
  .products-area .panel-details {
    border-top: 1px solid #ccc; }
    .products-area .panel-details h4 {
      padding: 20px 0 0; }
    .products-area .panel-details h5 {
      padding: 10px 0 0;
      margin: 0 0 10px; }
    .products-area .panel-details .list-group {
      margin: 0; }
    .products-area .panel-details .list-normal {
      list-style: inside; }
      .products-area .panel-details .list-normal li a {
        color: #212121; }
        .products-area .panel-details .list-normal li a i {
          color: #25B7D3; }

.list-normal li {
  display: block;
  margin: 0 0 7px; }
  .list-normal li a {
    color: #ef6c00;
    text-decoration: none; }
    .list-normal li a:hover {
      text-decoration: underline; }

.table-normal {
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  table-layout: fixed; }
  .table-normal thead {
    /*background: #25B7D3;*/
    font-weight: 500;
    color: #333;

  background: #cecece;}
.table-normal thead td {
  font-size: 24px;
  font-weight: 600;
  padding: 20px;
}

  .table-normal td {
    border: 1px solid #ccc !important;
    padding: 10px; }

.view-more {
  font-size: 20px;
  line-height: 26px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  cursor: pointer; }
  .view-more:hover {
    color: #25B7D3; }
  .view-more i {
    display: inline-block;
    vertical-align: middle;
    line-height: 21px; }

.page-title {
  margin: 0 0 25px; }
  .page-title span {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    position: relative; }
    .page-title span:before {
      content: '';
      left: 0;
      right: auto;
      bottom: -10px;
      min-width: 70px;
      height: 5px;
      position: absolute;
      background: -webkit-linear-gradient(-45deg, #ef5350, #880e4f);
      background: -moz-linear-gradient(-45deg, #ef5350 0, #880e4f 100%);
      background: -ms-linear-gradient(-45deg, #ef5350 0, #880e4f 100%);
      background: -o-linear-gradient(-45deg, #ef5350 0, #880e4f 100%);
      background: -webkit-linear-gradient(135deg, #ef5350 0, #880e4f 100%);
      background: -o-linear-gradient(135deg, #ef5350 0, #880e4f 100%);
      background: linear-gradient(-45deg, #25B7D3 0, #214 100%); }

.about-1 {
  background-image: url("../../assets/img/img-03.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
  text-align: center;
  padding: 130px 20px;
  min-height: 480px;
  position: relative;
  color: #ffffff;
  z-index: 1; }
  .about-1 .large {
    font-size: 27px;
    line-height: 45px;
    padding: 0 40px 0 0; }
    .about-1 .large strong {
      font-size: 44px;
      line-height: 48px;
      display: block;
      font-weight: 500;
      margin: 0 0 20px; }
  .about-1:before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    content: '';
    z-index: -1; }

.about-1-sm {
  font-size: 18px;
  line-height: 33px;
  padding: 40px 0;
  position: relative;
  background: #ffffff;
  text-align: center;
  font-weight: 400;
  z-index: 2; }
  .about-1-sm:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 30px;
    margin-left: -30px; }

.about-2 .timeline-body {
  text-align: justify; }

.about-3 {
  font-size: 22px;
  line-height: 36px;
  background-image: url("../../assets/img/img-04.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom;
  background-size: 100% auto;
  padding: 50px 20px;
  min-height: 400px;
  position: relative;
  z-index: 1;
  color: #ffffff;
  text-align: center; }
  .about-3 p {
    margin: 0 0 20px; }
  .about-3 .title {
    color: #ffffff; }
  .about-3:before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    content: '';
    z-index: -1; }

.about-4 {
  font-size: 16px;
  line-height: 22px;
  background: #ffffff;
  padding: 50px 0; }
  .about-4 h3 {
    font-weight: 400; }

.about-5 {
  padding: 50px 0 0; }
  .about-5 .detail {
    font-size: 18px;
    line-height: 30px;
    padding: 40px 9999px 30px;
    margin: 0 -9999px;
    background: #ffffff;
    font-weight: 400; }
    .about-5 .detail .large {
      font-size: 24px;
      font-weight: 500; }
  .about-5 .caption {
    font-size: 14px;
    margin: 0 0 40px;
    display: block;
    font-weight: 400;
    color: #66615b; }

@keyframes beat {
  0% {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24); }
  50% {
    -webkit-box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.44);
    box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.44); }
  100% {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24); } }
.count-on {
  background: #ffffff;
  padding: 50px 9999px 40px;
  margin: 0 -9999px; }
  .count-on .title {
    margin: 0 0 30px !important; }
  .count-on .holder {
    font-size: 22px;
    line-height: 26px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    position: relative;
    background: #fafafa;
    min-height: 260px;
    padding: 20px;
    text-align: center;
    margin: 0 0 30px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24); }
    .count-on .holder i {
      font-size: 30px;
      line-height: 75px;
      width: 75px;
      height: 75px;
      border-radius: 100%;
      background: #e53935;
      color: #fefefe;
      margin: 0 auto 15px;
      text-align: center;
      display: block; }
    .count-on .holder h4 {
      margin: 0 0 10px;
      text-transform: uppercase;
      font-weight: 500; }
    .count-on .holder:hover .overlay-holder {
      visibility: visible;
      opacity: 1; }
    .count-on .holder .overlay-holder {
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      padding: 0 15px;
      position: absolute;
      left: 100%;
      right: auto;
      top: 50%;
      transform: translateY(-50%);
      visibility: hidden;
      opacity: 0;
      z-index: 9; }
      .count-on .holder .overlay-holder.right {
        right: 100%;
        left: auto; }
        .count-on .holder .overlay-holder.right .overlay:after {
          border-left-color: #e57373;
          border-right-color: transparent;
          right: auto;
          left: 100%; }
    .count-on .holder .overlay {
      font-size: 16px;
      line-height: 20px;
      -webkit-animation: beat 1.5s infinite;
      -moz-animation: beat 1.5s infinite;
      -ms-animation: beat 1.5s infinite;
      -o-animation: beat 1.5s infinite;
      animation: beat 1.5s infinite;
      width: 300px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      text-align: left;
      background: #e57373;
      color: #fefefe;
      position: relative;
      text-align: justify; }
      .count-on .holder .overlay > p:last-child {
        margin: 0; }
      .count-on .holder .overlay:after {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 0, 0, 0);
        border-right-color: #e57373;
        border-width: 15px;
        margin-top: -15px; }
      .count-on .holder .overlay strong {
        font-weight: 500; }

.our-clients {
  padding: 0 0 40px; }
  .our-clients .item {
    padding: 10px;
    text-align: center; }
    .our-clients .item .taco img {
      max-width: 90px; }
    .our-clients .item a:hover {
      opacity: 0.7; }
    .our-clients .item img {
      max-width: 110px;
      width: 90%;
      height: auto; }

.residential-main ul {
  padding: 20px 0 0; }
  .residential-main ul li {
    width: 33.33%; }
    .residential-main ul li .title {
      font-weight: 400;
      margin: 0 0 10px !important; }
    .residential-main ul li .txt-holder {
      font-size: 18px;
      line-height: 25px; }
    .residential-main ul li p {
      min-height: 105px; }
.residential-main hr {
  border-color: #777; }

.threecolumns {
  width: 100%;
  letter-spacing: -10px; }
  .threecolumns .col {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    letter-spacing: 0; }
    .threecolumns .col img {
      width: 100%;
      height: auto; }

mat-tab-group {
  margin: 0 -10px; }
  mat-tab-group .mat-tab-label-active {
    background: rgba(197, 202, 233, 0.3); }
  mat-tab-group .mat-tab-label {
    display: inline-block;
    vertical-align: top;
    height: auto;
    letter-spacing: 0;
    width: 33.33%;
    white-space: normal;
    opacity: 1;
    padding: 12px 10px;
    margin: 0 0 30px;
    border-radius: 4px; }
    mat-tab-group .mat-tab-label .title {
      font-weight: 400;
      margin: 0 !important; }
    mat-tab-group .mat-tab-label .holder {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      padding: 25px 10px 10px;
      background: #ffffff;
      border-radius: 6px;
      font-weight: 300;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3); }
      mat-tab-group .mat-tab-label .holder .material-icons {
        width: 110px;
        height: 110px;
        font-size: 60px;
        line-height: 110px;
        border: 1px solid;
        border-radius: 100%;
        margin: 0 0 20px; }
      mat-tab-group .mat-tab-label .holder.green i {
        color: #558b2f;
        border-color: #558b2f; }
      mat-tab-group .mat-tab-label .holder.green .btn {
        background: #558b2f; }
      mat-tab-group .mat-tab-label .holder.red i {
        color: #e53935;
        border-color: #e53935; }
      mat-tab-group .mat-tab-label .holder.red .btn {
        background: #e53935; }
      mat-tab-group .mat-tab-label .holder.blue i {
        color: #1976d2;
        border-color: #1976d2; }
      mat-tab-group .mat-tab-label .holder.blue .btn {
        background: #1976d2; }
    mat-tab-group .mat-tab-label .img-holder {
      border-radius: 4px;
      overflow: hidden;
      display: block; }
    mat-tab-group .mat-tab-label .txt-holder {
      font-size: 18px;
      line-height: 25px;
      padding: 10px; }
      mat-tab-group .mat-tab-label .txt-holder p {
        min-height: 102px; }
    mat-tab-group .mat-tab-label img {
      max-width: 100%;
      height: auto; }
  mat-tab-group mat-tab-body {
    letter-spacing: 0; }
  mat-tab-group .mat-ink-bar {
    display: none; }
  mat-tab-group .detail-holder {
    font-size: 18px;
    line-height: 25px;
    background: #ffffff;
    padding: 30px 20px; }
    mat-tab-group .detail-holder.green {
      border-top: 5px solid #558b2f; }
      mat-tab-group .detail-holder.green .btn {
        background: #558b2f; }
    mat-tab-group .detail-holder.red {
      border-top: 5px solid #e53935; }
      mat-tab-group .detail-holder.red .btn {
        background: #e53935; }
    mat-tab-group .detail-holder.blue {
      border-top: 5px solid #1976d2; }
      mat-tab-group .detail-holder.blue .btn {
        background: #1976d2; }

.member-special {
  padding: 20px 0;
  min-height: 100px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  margin: 40px 0 0;
  background: -webkit-linear-gradient(-45deg, #ef5350, #880e4f);
  background: -moz-linear-gradient(-45deg, #ef5350 0, #880e4f 100%);
  background: -ms-linear-gradient(-45deg, #ef5350 0, #880e4f 100%);
  background: -o-linear-gradient(-45deg, #ef5350 0, #880e4f 100%);
  background: linear-gradient(-45deg, #25B7D3 0, #214 100%); }
  .member-special .title {
    margin: 0 0 10px !important;
    color: #ffffff; }
  .member-special p {
    font-size: 18px;
    line-height: 25px; }
  .member-special .btn i {
    margin: 0 0 0 5px; }

dialog-overview-example-dialog .mat-form-field,
app-residential-dialog2 .mat-form-field {
  width: 100% !important; }
dialog-overview-example-dialog .mat-dialog-actions,
app-residential-dialog2 .mat-dialog-actions {
  display: block;
  text-align: right; }
  dialog-overview-example-dialog .mat-dialog-actions:last-child,
  app-residential-dialog2 .mat-dialog-actions:last-child {
    margin-bottom: 0; }
dialog-overview-example-dialog .forgot-pass,
app-residential-dialog2 .forgot-pass {
  float: left;
  margin: 8px 0 0; }

.reg-text {
  display: block;
  text-align: left; }

.dialogRes {
  width: 400px; }

.cdk-overlay-container .mat-dialog-container {
  background: transparent;
  box-shadow: none; }

.commercial-main hr {
  border-color: #ccc; }
.commercial-main .cm-detail {
  font-size: 18px;
  line-height: 25px; }
  .commercial-main .cm-detail strong {
    display: block; }
.commercial-main .mat-select {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  .commercial-main .mat-select .mat-select-value {
    line-height: 0; }

.signup-main hr {
  border-color: #ccc; }
.signup-main .alert {
  font-size: 16px;
  line-height: 25px; }
.signup-main .mat-stepper-horizontal,
.signup-main .mat-stepper-vertical {
  background: none; }
.signup-main .card-title {
  font-weight: 500; }
.signup-main .form-group .control-label {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #424242; }
  .signup-main .form-group .control-label .required {
    font-size: 13px; }
.signup-main .radio + .radio, .signup-main .checkbox + .checkbox {
  margin-top: 0; }
.signup-main .mat-input-container {
  display: block; }
.signup-main .checkbox label {
  color: #424242 !important; }
.signup-main .mat-select {
  background: transparent !important;
  box-shadow: none !important; }
  .signup-main .mat-select:hover {
    box-shadow: none; }
  .signup-main .mat-select .mat-select-trigger {
    background: transparent;
    padding: 0; }
.signup-main .form-group {
  margin: 0 0 10px;
  padding: 0; }

.or {
  position: relative;
  min-height: 20px;
  text-align: center;
  z-index: 5; }
  .or span {
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    position: relative;
    text-align: center;
    background: #ffffff;
    padding: 2px 10px; }
  .or:after {
    position: absolute;
    left: 15px;
    top: 50%;
    right: 15px;
    bottom: auto;
    content: '';
    height: 2px;
    margin: -1px 0 0;
    background: #ccc;
    z-index: -1; }

.card .card-title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 500; }

input.mat-input-element,
input.mat-input-element::-webkit-input-placeholder {
  font-size: 18px !important;
  line-height: 33px;
  font-weight: 700 !important; }

.btn {
  font-size: 17px !important;
  font-weight: 600 !important; }

h1, h2, h3, h4, h5 {
  font-weight: 500 !important; }

h3 {
  font-size: 28px !important; }

.mat-step-label {
  font-size: 16px !important; }

.alert span {
  font-weight: 500; }

.mat-input-infix {
  padding: 0.6375em 0 0.2375em; }

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-placeholder, .mat-form-field-empty.mat-form-field-placeholder {
  font-size: 20px; }

.sidebarToggle {
  display: none;
  width: 130px;
  margin: 0 0 0 30px; }

.new-product-holder {
  padding: 30px 0; }
  .new-product-holder > .container {
    background: #fff;
    padding: 20px 15px 0; }
  .new-product-holder .mat-form-field {
    width: 100% !important; }



/*# sourceMappingURL=main.css.map */
.terms-container-wrapper {
  background: #ffffff;
  padding-top: 30px;
}

#myBtn {
  display: block;
  /* display: none;    */
   position: fixed;
   bottom: 5px;
   z-index: 99;
     right: 10px;
       border: none;
         outline: none !important;
           background-color: #214147;
              color: white;
                cursor: pointer;
                   padding: 10px;
                      border-radius: 50%;
                         height: 60px !important;
                           width: 60px;
}
