<div class="main-panel ps">
  <div class="navbar-minimize sidebarToggle" (click)="navbarClass()">
    <button class="btn btn-round btn-white btn-fill btn-just-icon" id="minimizeSidebar">
      <i class="material-icons visible-on-sidebar-regular">more_vert</i>
      <i class="material-icons visible-on-sidebar-mini">view_list</i>
      <div class="ripple-container"></div></button>
    <strong>Sidebar</strong>
  </div>
  <div class="sidebar custom">
    <a routerLink="/home" class="logo">
      <img src="../../assets/img/LOGOOO-02.png" alt="PlugExp" />
    </a>
    <div class="clearfix"></div>
    holla!!
  </div>
  <div class="main-content custom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          abcdefghijklmnopqrstuvwxyz
        </div>
      </div>
    </div>
  </div>
</div>


