
<div id="wrapper">


    <section class="section bgw">
      <div class="container">
  
        <div class="section-title-2 text-center">
          <h2>Feel free to cotnact us</h2>
          <p class="lead">We'll try our best to answer your queries as soon as possible.</p>
          <hr>
        </div><!-- end section-title -->
  
        <div class="row">
       
          <!--end col -->
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="widget">
              <div class="row section-title-2">
                <h2>Contact Details</h2>
                <p class="lead">If you need help before, during or after your purchase, this is the place to be. Please use below contact details for all your pre-sale questions, contact questions.</p>
              </div>
              <ul class="contact-details">
  
       <b><label>Website</label></b>
                <li><i class="fa fa-link"></i> <a href="">www.choicegenie.com</a></li>
              <!--<div class="section-title-2"> <hr></div>-->
               <b><label>Email</label></b> 
                <li><i class="fa fa-envelope-o"></i> <a href="mailto:info@choicegenie.com " ><span class="__cf_email__" > info@choicegenie.com 
                  </span></a></li>
              <b> <label>Phone</label></b> 
                <li><i class="fa fa-phone"></i>+1 (888) 764-0100</li>
                <li><i class="fa fa-fax"></i> +1 (469) 250-6600</li>
                <label>Address</label>
                <li><i class="fa fa-home"></i>5050 Quorum Drive  Suite 700  Dallas TX 75254.</li>
              </ul>
              <hr>
             
            </div><!-- end widget -->
          </div>
          <div class="col-md-6">
              <h2>Office Location:</h2>
              <!-- <div class="contacts_map">
                <div id="map-canvas">
                  <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                  </agm-map>
                </div>
              </div> -->
           </div> 
  
        </div><!-- end row -->
     
      </div><!-- end container -->
    </section><!-- end section -->
  
  </div>